* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.span-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

span {
  margin: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
}

button {
  padding: 10px 40px;
}
